.auth__card{
	border-radius: 0px;
	padding: 40px;
	padding-top: 30px;
	border: 1px solid var(--main-color);
}
#auth__legend{
	font-family: var(--arima);
	font-size: 21px;
	text-align: left;
	color: var(--main-color);
}
.auth_group{
}
.auth__input{
	border-radius: 0px;
	border: 2px solid var(--main-color)!important;
	transition: 0.6s all ease-in-out;
	-webkit-appearance: none !important;
	font-family: var(--arima)!important;
	box-shadow: none;
	background: transparent!important;
	color: var(--main-color);
	font-size: 14px;
	resize: none;
}
.auth__input:focus{
	outline: none;
	-webkit-appearance: none;
	box-shadow: none;
	color: var(--main-color);
	border: 2px solid var(--accent-color)!important;
}
.auth__input::placeholder{
	color: var(--main-color);
}
.auth__btn{
	font-size: 15px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 12.3px;
	float: right;
	border-radius: 10px;
	transition: 0.4s all ease-in-out;
	border: 1px solid var(--main-color)!important; 
	outline: none!important;
	text-decoration: none !important;
	font-weight: 400!important;
	box-shadow: none;
	color: var(--aliceblue);
	text-align: center;
	font-family: var(--bree);
	background: var(--main-color);
}

.auth__btn:hover{
	background: transparent;
	color: var(--main-color);
}
.auth__btn svg{
	-webkit-animation: spin-animation 0.4s infinite linear;
	animation: spin-animation 0.4s infinite linear;
}
.auth_redirectlink{
	padding: 20px;
	padding-left: 4px;
	float: left;
	font-family: var(--josefin);
	font-size: 13px;
	color: var(--main-color);
}
.auth_redirectlink a{
	border: 1px solid var(--main-color);
	border-radius: 5px;
	color: var(--main-color);
	padding-left: 5px;
	padding-top: 3.2px;
	padding-bottom: 1px;
	padding-right: 5px;
	font-size: 11px;
}
.auth_redirectlink a:hover{
	background-color: var(--accent-color);
}